[submodule "libs/JSON-Schema-Test-Suite"]
	path = libs/JSON-Schema-Test-Suite
	url = https://github.com/json-schema-org/JSON-Schema-Test-Suite.git
[submodule "libs/zig-regex"]
	path = libs/zig-regex
	url = https://github.com/DrDeano/zig-regex.git
